#gallery {
  display: flex;
  list-style: none;
  padding: 20px;
}

.gallery_image {
  justify-content: start;
  width: 400px;
  height: 260px;
}

.gallery_li {
  margin-right: 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
